
<div>
  <h1>Let's not get ahead of ourselves. Try again with today's assignment date or one from the past.
  </h1>
  <div id='reselect-button'>
    <form class="form-inline" method="get" action="/assignments">
      <div class="form-group">
        <label id="big-text" for="search-assignments">Search Assignments</label>
        <input type="text" class="form-control" placeholder="Which Day? (ie W1D1)" name="assignment_date">
      </div>
      <button type="submit" class="btn btn-danger">GET !</button>
    </form>
  </div>
</div>
