<h1>All Assignments and Tests</h1>
<hr/>

<% @assignments_and_tests.each do |a| %>
<div class="message">
  <h3>
    <%= a.assignment_date  %>:<a href="/assignments_and_tests/<% a.id %>"><%=  a.name %></a>    
  </h3>
</div>
<% end %>
