<div id="homepage">
  <h1>Rate My LHL Assignment</h1>

  <form class="form-inline" method="get" action="/assignments">
    <div class="form-group">
      <label id="big-text" for="search-assignments">Search Assignments</label>
      <input type="text" class="form-control" placeholder="Which Day? (ie W1D1)" name="assignment_date">
    </div>
    <button type="submit" class="btn btn-danger">GET !</button>
  </form>
  <img src="/images/application-development-infographic_1025-405.jpg">
</div>
